#progressoverviewform {
    p[data-region="progress-overview-count"] {
        font-weight: bold;
        color: #008941;
        margin-top: 12px;
        font-size: 14px;
    }

    table {
        border-collapse: collapse;
        width: max-content;
        min-width: 100%;

        .col-select {
            width: 50px;
        }

        .col-fullname,
        .col-email {
            width: max-content;
            padding-right: 30px;
        }

        .col-lastaccess {
            width: 170px;
        }

        .col-completion {
            text-align: right;
            width: 120px;
        }
    }
}
