@import "variables.less";

.block_completion_monitor {
    border-bottom: 3px solid #000 !important;
    border-top: 1px solid #dee2e6 !important;
    border-left: 1px solid #dee2e6 !important;
    border-right: 1px solid #dee2e6 !important;
    margin-left: 24px;
    margin-right: 24px;

    .card-text.content {
        margin-top: 0 !important;
    }

    .completion-monitor-progress-details {
        p {
            margin-bottom: 0.5rem;
        }

        .course-progress-percentage {
            font-size: 18px;
            color: @progress-main-blue-color;
        }

        .course-progress-step {
            font-size: 14px;
        }
    }

    @media(max-width: @screen-sm) {
        margin-left: 12px;
        margin-right: 12px;
    }

    .completion_monitor-custom-header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .main-content {
            width: 100%;
            max-width: 300px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-right: 10px;

            @media(min-width: @screen-sm) {
                max-width: 560px;
            }

            .block_title {
                margin: 0;
                color: black;
            }

            .block-progress-informations {
                display: flex;
                align-items: center;

                #completion-monitor-circle-progress {
                    position: relative;
                    width: 80px;

                    span {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        font-size: 0.9rem;
                        text-align: center;
                    }
                }
            }

            .completion-monitor-progress-details {
                @media(max-width: @screen-sm) {
                    display: none;
                }

                @media(min-width: @screen-sm) {
                    margin-left: 10px;
                }
            }
        }

        .open-block {
            text-align: right;
        }

        .button-showless-showmore {
            background: none;
            border: none;
            text-decoration: none;
            font-size: 14px;
            color: #000091;
            cursor: pointer;
            display: inline;
            padding: 0;
            margin: 0;

            &:focus {
                border: 2px solid #2a7ffe !important;
                outline: none;
            }

            i.fa {
                font-size: 12px;
                margin-left: 4px;
                vertical-align: middle;
                -webkit-text-stroke: 0px !important;
            }

            @media (max-width: @screen-sm) {
                font-size: 0;

                i.fa {
                    font-size: 16px;
                }
            }
        }

    }

    .completion_monitor-content {
        padding-top: 10px;

        &.hidden-block {
            display: none;
        }

        @media(min-width: @screen-sm) {
            .completion-monitor-progress-details {
                display: none;
            }
        }
    }

    .completion_monitor-link {
        text-align: right;
    }

    .completion_monitor-link a {
        text-decoration: underline;

    }
}