@screen-sm: 767px;

.block-activities-completion-course-monitoring {
    border-bottom: 3px solid #000 !important;
    border: 1px solid #dee2e6;
    margin-left: 24px;
    margin-right: 24px;

    @media(max-width: @screen-sm) {
        margin-left: 12px;
        margin-right: 12px;
    }
}

.completion_monitor-content {
    padding-top: 10px;
}

.completion_monitor-link {
    text-align: right;
}

.completion_monitor-link a {
    text-decoration: underline;

}