@import "variables.less";
@import "progress_bar_item.less";
@import "progress_bar.less";
@import "progress_detail.less";
@import "legend.less";
@import "tooltip.less";

.block_completion_monitor {
    border-bottom: 3px solid #000 !important;
    border-top: 1px solid #dee2e6 !important;
    border-left: 1px solid #dee2e6 !important;
    border-right: 1px solid #dee2e6 !important;
    margin-left: 24px;
    margin-right: 24px;

    .card-text.content {
        margin-top: 0 !important;
    }

    .completion-monitor-progress-details {
        p {
            margin-bottom: 0.5rem;
        }

        .course-progress-percentage {
            font-size: 18px;
            color: @progress-main-blue-color;
        }

        .course-progress-step {
            font-size: 14px;
        }
    }

    @media(max-width: @screen-sm) {
        margin-left: 12px;
        margin-right: 12px;
    }

    .completion_monitor-custom-header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .main-content {
            width: 100%;
            max-width: 300px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-right: 10px;

            @media(min-width: @screen-sm) {
                max-width: 560px;
            }

            .block_title {
                margin: 0;
                color: black;
            }

            .block-progress-informations {
                display: flex;
                align-items: center;

                #completion-monitor-circle-progress {
                    position: relative;
                    width: 80px;

                    span {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        font-size: 0.9rem;
                        text-align: center;
                    }
                }
            }

            .completion-monitor-progress-details {
                @media(max-width: @screen-sm) {
                    display: none;
                }

                @media(min-width: @screen-sm) {
                    margin-left: 10px;
                }
            }

            &.no-activity-completion {
                max-width: unset;
                justify-content: unset;
                gap: 40px;

                @media(max-width: @screen-sm) {
                    flex-direction: column;
                    gap: 20px;
                }
            }
        }

        .open-block {
            text-align: right;
        }

        .button-showless-showmore {
            background: none;
            border: none;
            text-decoration: none;
            font-size: 14px;
            color: #000091;
            cursor: pointer;
            display: inline;
            padding: 0;
            margin: 0;

            &:focus {
                border: 2px solid #2a7ffe !important;
                outline: none;
            }

            i.fa {
                font-size: 12px;
                margin-left: 4px;
                vertical-align: middle;
                -webkit-text-stroke: 0px !important;
            }

            @media (max-width: @screen-sm) {
                font-size: 0;

                i.fa {
                    font-size: 16px;
                }
            }
        }

    }

    .completion_monitor-content {
        padding-top: 10px;

        &.hidden-block {
            display: none;
        }

        @media(min-width: @screen-sm) {
            .completion-monitor-progress-details {
                display: none;
            }
        }
    }

    .completion_monitor-link {
        text-align: right;
    }

    .completion_monitor-link a {
        text-decoration: underline;

    }

    .completion_monitor-color-notstarted {
        background-color: @progressbar-bgcolor-notstarted;
        color: @progressbar-required-color
    }

    .completion_monitor-color-inprogress {
        background-color: @progressbar-bgcolor-inprogress;
        color: @progressbar-required-color
    }

    .completion_monitor-color-completed {
        background-color: @progressbar-bgcolor-completed;
        color: @progressbar-required-color
    }

    .completion_monitor-color-locked {
        background-color: @progressbar-bgcolor-locked;
        color: @progressbar-required-color
    }

    .completion_monitor-color-optional {
        background: transparent;
        color: @progressbar-optional-color;
        border-color: @progressbar-optional-color;
    }
}

// Side view
#block-region-side-pre section.block_completion_monitor {
    margin: 0;

    section.block_completion_monitor {
        margin: 10px 0 0 0;
        border: 0 !important;
        box-shadow: none;

        .card-body {
            padding: 0 !important;

            div.block-completion-monitor {
                width: 100%;
                max-width: 316px;
                margin: auto;

                .completion_monitor-custom-header {
                    .main-content {
                        width: 100%;

                        .course-progress-percentage {
                            font-size: 15px;
                        }

                        .course-progress-step {
                            font-size: 12px;
                        }

                        .completion-monitor-progress-details {
                            display: none !important;
                        }

                        .block-progress-informations {
                            #completion-monitor-circle-progress {
                                width: 60px;
                            }
                        }
                    }

                    .open-block {
                        button {
                            font-size: 12px;
                        }
                    }

                    .button-showless-showmore {
                        #showless-showmore-text {
                            display: none;
                        }
                    }
                }

                .completion_monitor-content {
                    .completion-monitor-progress-details {
                        display: block !important;
                    }
                }
            }
        }
    }
}