@progress-main-blue-color: #000091;
@progress-secondary-blue-color: #E3E3FD;

@progressbar-bgcolor-notstarted: #5A6FBB;
@progressbar-bgcolor-inprogress: #11008D;
@progressbar-bgcolor-completed: #008745;
@progressbar-bgcolor-locked: #E12B1A;

@progressbar-required-color: #fff;
@progressbar-optional-color: #9C9C9C;

@screen-sm: 767px;