{{!
    Template : block_completion_monitor/legend/legend
}}
<div class="progressbar_legend-container">
    <button
        type="button"
        class="progressbar_legend-toggle"
        aria-expanded="false"
        aria-controls="progressbar_legend-content"
    >
        <span>{{#str}} show_legend, block_completion_monitor {{/str}}</span>
        <i class="fa fa-chevron-down" aria-hidden="true"></i>
    </button>

    <div
        id="progressbar_legend-content"
        class="progressbar_legend-content"
        hidden
        role="region"
    >
        <div class="progressbar_legend-grid">
            <div class="progressbar_legend-column">
                <h4 class="progressbar_legend-label">{{#str}} optional_activities, block_completion_monitor {{/str}}</h4>
                <ul class="progressbar_legend-list">
                    <li class="progressbar_legend-item">
                        <span class="progressbar-item progressbar-item-circle completion_monitor-color-optional" 
                            aria-label="{{#str}} optional, block_completion_monitor {{/str}}">
                            <i class="fa fa-square" aria-hidden="true"></i>
                        </span>
                        {{#str}} not_started, block_completion_monitor {{/str}}
                    </li>
                    <li class="progressbar_legend-item">
                        <span class="progressbar-item progressbar-item-circle completion_monitor-color-optional"
                            aria-label="{{#str}} optional, block_completion_monitor {{/str}}">
                            <i class="fa fa-play" aria-hidden="true"></i>
                        </span>
                        {{#str}} in_progress, block_completion_monitor {{/str}}
                    </li>
                    <li class="progressbar_legend-item">
                        <span class="progressbar-item progressbar-item-circle completion_monitor-color-optional"
                            aria-label="{{#str}} optional, block_completion_monitor {{/str}}">
                            <i class="fa fa-check" aria-hidden="true"></i>
                        </span>
                        {{#str}} completed, block_completion_monitor {{/str}}
                    </li>
                    <li class="progressbar_legend-item">
                        <span class="progressbar-item progressbar-item-circle completion_monitor-color-optional"
                            aria-label="{{#str}} optional, block_completion_monitor {{/str}}">
                            <i class="fa fa-lock" aria-hidden="true"></i>
                        </span>
                        {{#str}} locked, block_completion_monitor {{/str}}
                    </li>
                </ul>
            </div>

            <div class="progressbar_legend-column">
                <h4 class="progressbar_legend-label">{{#str}} required_activities, block_completion_monitor {{/str}}</h4>
                <ul class="progressbar_legend-list">
                    <li class="progressbar_legend-item">
                        <span class="progressbar-item progressbar-item-square completion_monitor-color-notstarted"
                            aria-label="{{#str}} required, block_completion_monitor {{/str}}">
                            <i class="fa fa-square" aria-hidden="true"></i>
                        </span>
                        {{#str}} not_started, block_completion_monitor {{/str}}
                    </li>
                    <li class="progressbar_legend-item">
                        <span class="progressbar-item progressbar-item-square completion_monitor-color-inprogress"
                            aria-label="{{#str}} required, block_completion_monitor {{/str}}">
                            <i class="fa fa-play" aria-hidden="true"></i>
                        </span>
                        {{#str}} in_progress, block_completion_monitor {{/str}}
                    </li>
                    <li class="progressbar_legend-item">
                        <span class="progressbar-item progressbar-item-square completion_monitor-color-completed"
                            aria-label="{{#str}} required, block_completion_monitor {{/str}}">
                            <i class="fa fa-check" aria-hidden="true"></i>
                        </span>
                        {{#str}} completed, block_completion_monitor {{/str}}
                    </li>
                    <li class="progressbar_legend-item">
                        <span class="progressbar-item progressbar-item-square completion_monitor-color-locked"
                            aria-label="{{#str}} required, block_completion_monitor {{/str}}">
                            <i class="fa fa-lock" aria-hidden="true"></i>
                        </span>
                        {{#str}} locked, block_completion_monitor {{/str}}
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>