{{> core/datafilter/filter }}

{{#js}}
    require(['block_completion_monitor/progress_overview_filter'], function(ProgressOverviewFilter) {
        ProgressOverviewFilter.init('core-filter-{{uniqid}}');
    });
{{/js}}
