<div class="completion-monitor-progress-details">
    <p class="course-progress-percentage">{{ courseprogress_percentage }}</p>
    <p class="course-progress-step">{{ courseprogress_step }}</p>
</div>
