<button class="button-showless-showmore" aria-expanded="true">
    <span id="showless-showmore-text">{{#str}} showless, block_completion_monitor {{/str}}</span><i class="fa fa-chevron-up"></i>
</button>
