<div id="block-completion-monitor-{{uniqid}}" class="block-completion-monitor">
    <div class="completion_monitor-custom-header">
        <h2 class="block_title">
            {{#str}} blocktitle, block_completion_monitor {{/str}}
        </h2>

        {{#display_percentage}}
            {{> block_completion_monitor/progress-header/progress-circle }}
            {{> block_completion_monitor/progress-header/course-progress-details }}
        {{/display_percentage}}

        <div class="open-block">
            <button class="button-showless-showmore">
                {{#str}} showmore, block_completion_monitor {{/str}}
            </button>
        </div>
    </div>

    <div class="completion_monitor-content">
        {{> block_completion_monitor/progress-header/course-progress-details }}
    </div>

    {{^can_access_report}}
        <div class="completion_monitor-moodle-footer">
            <div class ="completion_monitor-link">
                <a href="{{reporturl}}" class="fr-fi-arrow-right-line">{{#str}} viewreport, block_completion_monitor {{/str}}</a>
            </div>
        </div>
    {{/can_access_report}}
</div>
